<div class="form-container">
  <h2>Agendar Atendimento</h2>
  <form (ngSubmit)="salvarAgendamento()" #agendamentoForm="ngForm">

    <div>
      <label for="cliente">Cliente:</label>
      <select id="cliente" name="cliente" [(ngModel)]="agendamento.clienteId" required>
        <option *ngFor="let cliente of clientes" [value]="cliente.clienteId">
          {{ cliente.clienteId }}
        </option>
      </select>
    </div>

    <div>
      <label for="barbeiro">Barbeiro:</label>
      <select id="barbeiro" name="barbeiro" [(ngModel)]="agendamento.barbeiroId" required>
        <option *ngFor="let barbeiro of barbeiros" [value]="barbeiro.barbeiroId">
          {{ barbeiro.barbeiroId }}
        </option>
      </select>
    </div>

    <div>
      <label for="dataHora">Data e Hora:</label>
      <input type="datetime-local" id="dataHora" name="dataHora" [(ngModel)]="agendamento.dataHora" required>
    </div>

    <button type="submit" [disabled]="!agendamentoForm.form.valid">Agendar</button>
  </form>
</div>
