<header>
  <h1>{{ title }}</h1>

</header>

<main>
  <section class="button-container">
    <div class="button-card" (click)="navigateTo('clientes/cadastrar')">
      <h2>Clientes</h2>
    </div>
    <div class="button-card" (click)="navigateTo('barbeiros/cadastrar')">
      <h2>Barbeiros</h2>
    </div>
    <div class="button-card" (click)="navigateTo('agendamentos/agendar')">
      <h2>Agendamentos</h2>
    </div>
  </section>

  <router-outlet></router-outlet> 
</main>

<footer>
  <p>© 2025 Barbearia Estilo. Todos os direitos reservados.</p>
</footer>
