<header>
  <h1>{{ title }}</h1>
</header>

<main>
  <section class="button-container">
    <!-- Submenu de Clientes -->
    <div class="button-card">
      <h2 (click)="toggleMenu('clientes')">Clientes</h2>
      <ul *ngIf="activeMenu === 'clientes'" class="submenu">
        <li (click)="navigateTo('clientes/cadastrar')">Cadastrar Clientes</li>
        <li (click)="navigateTo('clientes/listar')">Listar Clientes</li>
      </ul>
    </div>


 <!-- Submenu de Barbeiros -->
<div class="button-card">
  <h2 (click)="toggleMenu('barbeiros')">Barbeiros</h2>
  <ul *ngIf="activeMenu === 'barbeiros'" class="submenu">
    <li (click)="navigateTo('barbeiros/cadastrar')">Cadastrar Barbeiros</li>
    <li (click)="navigateTo('barbeiros/listar')">Listar Barbeiros</li>
  </ul>
</div>


    <!-- Submenu de Agendamentos -->
<div class="button-card">
  <h2 (click)="toggleMenu('agendamentos')">Serviços</h2>
  <ul *ngIf="activeMenu === 'agendamentos'" class="submenu">
    <li (click)="navigateTo('agendamentos/agendar')">Agendar clientes</li>
    <li (click)="navigateTo('agendamentos/listar')">Listar Agendamentos</li>
  </ul>
</div>

  </section>

  <router-outlet></router-outlet> <!-- Renderiza os componentes das rotas -->
</main>

<footer>
  <p>© 2025 Barbearia Estilo. Todos os direitos reservados.</p>
</footer>
